<!DOCTYPE html>
<html>
<head>
  <title>Sencha Touch</title>
  <link rel="stylesheet" href="/stylesheets/senchatra.css" type="text/css"/>
  <%= link_scripts %>
</head>
<body>
<%= templates %>
</body>
</html>