<!DOCTYPE html>
<html>
<head>
<title>Sencha Touch</title>

  <link rel="stylesheet" href="/lib/sencha-touch.css" type="text/css"/>
  <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css"/>
  <%= link_scripts %>
</head>
<body>
<%= templates %>
</body>
</html>